# Byte-compiled / optimized / DLL support
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.topo/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.profile

# Django / Flask / General Logs
*.log
db.sqlite3
db.sqlite3-journal
instance/

# Environments (Virtual Environments)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy / pytype / IDEs
.mypy_cache/
.pytype/
.idea/
.vscode/
*.swp
*.swo
*~

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
